@charset "ISO-8859-1";
.container
{
	width:80%;
	margin:auto;
}

.box-1
{
	background-color:#696969;
	color:#FFFFFF;                                             
	padding:10px;
	border-left:10px #4169E1 solid;
	border-top:10px #4169E1 solid;	
}

.button
{
	color:#FFFFFF;
}

.list
{
	border:5px #696969 solid;
	text-align:centre;
	font-size:22px;
	width:35%;
	padding:10px;
	border-radius:15px;
}

.section
{
	float:left;
	width:25%;
	border:10px solid #228B22;
	padding:10px;
	box-sizing:border-box;
	
}
.clr
{
	clear:both;
}

.box
{
	width:300px;
	height:600px;
	border:10px solid #FFD700;
	margin-top:20px;
	position:relative;
}

.box h2
{
	position:absolute;
	bottom:0px;
	left:0px;
}


